section {
    padding: 15px;
}

#galeria{
    height: 100%;
    max-height: 300px;
    border: solid 2px;
}

.btn{
    height: 296px;
    border-radius: 0;
    border: solid 1px;
}

img {
    width: 100%;
}
