<footer>
    <div class="d-flex justify-content-between">
        <div class="col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam nostrum deserunt
            necessitatibus
            consequatur eaque officia, neque non tempora soluta sapiente quasi? Repellat temporibus dolor natus delectus
            assumenda odio amet aliquid.</div>

        <div class="col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam nostrum deserunt
            necessitatibus
            consequatur eaque officia, neque non tempora soluta sapiente quasi? Repellat temporibus dolor natus delectus
            assumenda odio amet aliquid.</div>
    </div>
    <app-social></app-social>
</footer>