<footer>
    <div class="row">
        <div class="col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id necessitatibus repellat sapiente dolorem
            consectetur quibusdam eius voluptatem perferendis corporis illo! Dicta quos non vel doloribus sequi deleniti
            atque distinctio commodi sit sapiente ab minus a ipsam explicabo voluptatum sint recusandae dolor officia
            dolores, laboriosam rerum accusamus doloremque! Beatae numquam debitis modi fuga illum, quia accusantium, quidem
            tempora ullam, error perspiciatis mollitia asperiores nam porro! Ipsam excepturi suscipit dicta doloribus, ex
            voluptatibus delectus nobis reiciendis magni possimus ipsum fugiat vel atque adipisci. Quisquam, asperiores
            corrupti? Veritatis aperiam veniam neque mollitia aut ducimus minus asperiores voluptatibus hic, vitae, numquam,
            sapiente praesentium tempore.</div>
        <div class="col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor perspiciatis temporibus quis qui a doloribus
            officia incidunt, porro, perferendis excepturi sed hic tenetur eum suscipit et minus? Quas totam, quis
            necessitatibus aliquam illum nemo blanditiis nobis minima voluptates reiciendis exercitationem, fugit quos
            deleniti quidem, ratione maiores impedit laboriosam libero soluta eaque eos fugiat eligendi temporibus? Dolores,
            earum dolor sapiente enim cum voluptatum ea distinctio sit sed quisquam obcaecati eveniet autem ipsa labore.
            Eligendi eveniet accusamus, cupiditate dicta veniam accusantium, ut culpa similique cumque sint ducimus fugit
            dolor eius fugiat corrupti, ad quaerat nihil hic eum rem explicabo iste. Quibusdam, non.</div>
    </div>
</footer>