<footer>
    <div class="d-flex justify-content-between">
        <div class="col-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id necessitatibus repellat sapiente
            dolorem
            consectetur quibusdam eius voluptatem perferendis corporis illo! Dicta quos non vel doloribus sequi deleniti
            atque distinctio commodi sit sapiente ab minus a ipsam explicabo voluptatum sint recusandae dolor officia
            dolores, laboriosam rerum accusamus doloremque! Beatae numquam debitis modi fuga illum, quia accusantium,
            quidem
            tempora ullam, error perspiciatis mollitia asperiores nam porro! Ipsam excepturi suscipit dicta doloribus,
            ex
            voluptatibus delectus nobis reiciendis magni possimus ipsum fugiat vel atque adipisci. Quisquam, asperiores
            corrupti? Veritatis aperiam veniam neque mollitia aut ducimus minus asperiores voluptatibus hic, vitae,
            numquam,
            sapiente praesentium tempore.</div>

        <div class="col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam nostrum deserunt
            necessitatibus
            consequatur eaque officia, neque non tempora soluta sapiente quasi? Repellat temporibus dolor natus delectus
            assumenda odio amet aliquid.</div>
    </div>

</footer>