<section>

    <article class="d-inline-block col-md-4 col-12 text-center animated bounce fadeInLeft slow">
        <div id="img1" class="imagenes">
            <img src="..//..//assets/220px-Terminator-2-judgement-day.jpg" alt="">
        </div>
        <img src="../../assets/terminator.png" alt="" class="titulos">
    </article>

    <article class="d-inline-block col-md-4 col-12 text-center animated bounce fadeIn delay-1s">
        <div id="str"  class="imagenes">
            <img src="../../assets/john-wick-chapter-3-parabellum-1558983194.jpg" alt="">
        </div>
        <img src="../../assets/JW.png" alt="" class="titulos">
    </article>

    <article class="d-inline-block col-md-4 col-12 text-center animated bounce fadeInRight slow">
        <div id="img3" class="imagenes">
            <img src="../../assets/c190b752602e426f2c6f240bf14fa93c.jpg" alt="">
        </div>
        <img src="../../assets/resident evil.png" alt="" class="titulos">
    </article>
</section>